<ul class="menu-wrapper">
	{{#eachFirstLevelChildren}}
	   <li class="sidebar-title{{#ifHasOrIsActive}} active{{/ifHasOrIsActive}}">
	   		<a class="sidebar-title-link" href="{{urlTo name}}" data-search="{{#if title}}{{title}}{{else}}{{{name}}}{{/if}}">
				{{makeTitle}}
			</a>

			{{> active-menu.mustache}}

	   </li>
	{{/eachFirstLevelChildren}}
</ul>
