/**
* @stylesheet sidebar.less Sidebar
* @parent Styles.baseline-elements 4

* @description
* Styles the sidebar navigation.
**/


// Sidebar structure
.sidebar {
  background-color: @sidebarBackground;
  position: fixed;
  margin-bottom: 15px;
  z-index: @zindex-navbar-fixed;
  padding: 10px 15px 20px;
  top: 100px;
  left: ~"calc( ( 100% - " @containerWidth ~" ) / 2 )";
  width: 250px;
  max-height: ~"calc( 100% - 100px )";
  overflow: hidden;
  @media(max-width: @screen-sm-max){
    left:0;
  }
  .menu-wrapper,
  .active-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;      
    .sidebar-title-link,
    .page-link,
    .stylesheet-link {
      display: block;
    }
  }  
  a {
    color: @darkSkies;
    padding: 3px 0;  
    font-weight: normal;
    &:hover {
      background-color: @fog;
    }
  }
}
 

/**
* @styles sidebar-versions Versions
*
* @description
* Select menu used to display the documentation
*
* @demo demos/versions.html
**/
.sidebar {
   .versions, 
   #versions {
    position: absolute;
    right: 5px;
    top: 7px;
  }
}


/**
* @styles sidebar-list List Items
*
* @description
* Styles the groups of lists shown on the sidebar.
*
* @demo demos/lists.html
**/  
.group-heading {
  color: @darkSkies;
  display: block;
  font-weight: bold;
  margin-top: 10px;
}   

.page-title, { 
  font-size: 14px;
  text-indent: 15px;
  @media(min-width: @screen-md) {
    &.active, &:hover {
      background-color: @fog;
      position: relative;
      &:before {
        content: ">";
        position: absolute;
        font-size: 12px;
        left: -10px;
        top: 4px;
      }
    }
  }

  &.collapsed {
    > :not(a) {
      display: none;
    }
  }
  li {
    text-indent: 30px;
  }
}

/**
* @styles cascading-list Cascading List
*
* @description
* Styles `.sidebar-title` as a child of the `.api` list, and up to 5 levels before inheriting the styles of level 1.
*
* @demo demos/cascading-list.html
**/ 
.sidebar-title  {
  display: none;
}

  
  //Mobile Table of contents
  @media(max-width: @screen-sm-max) {
    .sidebar {
      display: none;
      left: 0px;
      max-height: ~"calc( 100% - 100px )";
      //overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
      z-index: @zindex-mobile-menu;
      &.active {
        display: block;
        width: 100%;
      }
      a {
        display: block;
      }
      .group-heading {
        color: @clear;
      }
      .page-title {
        text-indent: 0;
        border-bottom: 1px solid @clear;
      }
      .page-link,
      .stylesheet-link {
        color: @clear;
        padding: 7px 20px;
        &:hover, :active {
          color: darken(@puddle, 10);
        }
      }
    }
  }
